<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Everymind - Empresa</title>
    <link rel="stylesheet" href="../styles/candidato.css">
    <link rel="stylesheet" href="../styles/cadastrar-vaga.css">
    <link rel="icon" type="image/png" href="https://i.ibb.co/mR9Cyq3/Logo-Sem-Fundo.png" id="icon">

</head>

<body>

    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>
    
    <div id="menu">
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="menu-inner">
            <ul>
                <li><a href="/cadastrar-vaga">Cadastrar Vaga</a></li>
                <li><a href="/vagas-cadastradas">Vagas Cadastradas</a></li>
                <li><a href="/candidatos-vagas">Candidatos</a></li>
                <li><a href="/dashboard-empresa">Dashboard</a></li>
                <li><a href="/login">Sair</a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <h2>Cadastro de Vaga</h2>
            <h4>Nesta área, você pode cadastrar novas vagas de emprego, facilitando o
                processo de divulgação de oportunidades profissionais.</h4>
            <form action="/cadastrar-vaga" method="POST">
                <div class="txt_field">
                    <label for="titulo">Título da Vaga:</label>
                    <input type="text" id="titulo" name="titulo" required>
                </div>
                <div class="txt_field">
                    <label for="descricao">Descrição:</label>
                    <textarea id="descricao" name="descricao" required></textarea>
                </div>
                <div class="txt_field">
                    <label for="salario">Salário:</label>
                    <input type="text" id="salario" name="salario">
                </div>
                <div class="txt_field">
                    <label for="vulnerabilidade">Vulnerabilidade:</label>
                    <select id="vulnerabilidade" name="vulnerabilidade" multiple>
                        <option value="LGBTQIA+">LGBTQIA+</option>
                        <option value="Baixa Renda">Baixa Renda</option>
                        <option value="Mulher">Mulher</option>
                        <option value="PCD">PCD</option>
                        <option value="Negro(a)">Negro(a)</option>
                    </select>
                </div>
                <div class="txt_field">
                    <label for="tipo-trabalho">Tipo de Trabalho:</label>
                    <select id="tipo_trabalho" name="tipo_trabalho">
                        <option value="Selecione uma Opção">Selecione uma Opção</option>
                        <option value="Home Office">Home Office</option>
                        <option value="Híbrido">Híbrido</option>
                        <option value="Presencial">Presencial</option>
                    </select>
                </div>
                <div class="txt_field">
                    <label for="localizacao">Localização:</label>
                    <select id="localizacao" name="localizacao">
                        <option value="">Selecione um Estado</option>
                    </select>
                </div>

                <input type="submit" value="Cadastrar Vaga">
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

        $(document).ready(function () {
            var menuExpanded = false;
            var hamburger = $('.hamburger');

            $('.hamburger, .menu-inner').on('mouseenter', function () {
                $(this).parent().addClass('expanded');
                menuExpanded = true;
            });

            $('.menu-inner').on('mouseleave', function () {
                menuExpanded = false;
                $(this).parent().removeClass('expanded');
            });

            function svgCurve() {
                if (menuExpanded) {
                    // Lógica para expandir o menu
                } else {
                    // Lógica para contrair o menu
                }

                // Outras lógicas conforme necessário

                window.requestAnimationFrame(svgCurve);
            }


        });

        const salarioInput = document.getElementById('salario');

        salarioInput.addEventListener('focus', function () {
            if (!salarioInput.value.includes('R$')) {
                salarioInput.value = 'R$ ' + salarioInput.value;
            }
        });

        salarioInput.addEventListener('blur', function () {
            if (salarioInput.value === 'R$ ') {
                salarioInput.value = '';
            }
        });

        salarioInput.addEventListener('input', function () {
            if (salarioInput.value === 'R$ ') {
                salarioInput.value = '';
            }
        });

        function preencherLocalizacao() {
            const localizacaoSelect = document.getElementById('localizacao');

            fetch('https://servicodados.ibge.gov.br/api/v1/localidades/estados')
                .then((response) => response.json())
                .then((data) => {
                    // Limpar qualquer opção anterior
                    localizacaoSelect.innerHTML = '<option value="">Selecione um Estado</option>';

                    // Preencher a combobox com os nomes dos estados
                    data.forEach((estado) => {
                        const option = document.createElement('option');
                        option.value = estado.nome; // Use o nome do estado como valor
                        option.text = estado.nome; // Use o nome do estado como texto do option
                        localizacaoSelect.appendChild(option);
                    });
                })
                .catch((error) => {
                    console.error('Erro ao obter a lista de estados:', error);
                });
        }

        // Chamar a função para preencher o campo de Localização quando a página carregar
        window.addEventListener('DOMContentLoaded', preencherLocalizacao);
    </script>
</body>

</html>