<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Everymind - Empresa</title>
    <link rel="stylesheet" href="../styles/candidato.css">
    <link rel="icon" type="image/png" href="https://i.ibb.co/mR9Cyq3/Logo-Sem-Fundo.png" id="icon">

   
</head>

<body>
    <div id="menu">
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="menu-inner">
            <ul>
                <li><a href="/cadastrar-vaga">Cadastrar Vaga</a></li>
                <li><a href="/vagas-cadastradas">Vagas Cadastradas</a></li>
                <li><a href="/candidatos-vagas">Candidatos</a></li>
                <li><a href="/dashboard-empresa">Dashboard</a></li>
                <li><a href="/login">Sair</a></li>
            </ul>
        </div>
    </div>

    <div class="content">
        <div class="container">
            <h2>Dashboard</h2>
            <iframe title="EveryMind" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=25cc18b0-7f19-4b5f-8933-4755a7267c58&autoAuth=true&ctid=11dbbfe2-89b8-4549-be10-cec364e59551" frameborder="0" allowFullScreen="true"></iframe>        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {
            var menuExpanded = false;
            var hamburger = $('.hamburger');

            $('.hamburger, .menu-inner').on('mouseenter', function () {
                $(this).parent().addClass('expanded');
                menuExpanded = true;
            });

            $('.menu-inner').on('mouseleave', function () {
                menuExpanded = false;
                $(this).parent().removeClass('expanded');
            });

            function svgCurve() {
                if (menuExpanded) {
                    // Lógica para expandir o menu
                } else {
                    // Lógica para contrair o menu
                }

                // Outras lógicas conforme necessário

                window.requestAnimationFrame(svgCurve);
            }

            // Aqui, estamos pegando o nome do usuário da sessão e definindo-o no elemento HTML
            var nomeUsuario = "<%= nomeUsuario %>"; // Certifique-se de que a sessão esteja configurada corretamente
            document.getElementById('nomeUsuario').textContent = "Bem-vindo, " + nomeUsuario + "!";
        });
    </script>
</body>

</html>
