<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Everymind - Esqueci a Senha</title>
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="icon" type="image/png" href="https://i.ibb.co/mR9Cyq3/Logo-Sem-Fundo.png" id="icon">
  </head>
  
  <body>

    <div vw class="enabled">
      <div vw-access-button class="active"></div>
      <div vw-plugin-wrapper>
          <div class="vw-plugin-top-wrapper"></div>
      </div>
  </div>
  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  <script>
      new window.VLibras.Widget('https://vlibras.gov.br/app');
  </script>
    <div class="center">
      <h1>Esqueci a Senha</h1>
      <form method="post">
        <div class="txt_field">
          <input type="email" required placeholder="Seu e-mail">
        </div>
        <input type="submit" value="Enviar E-mail de Recuperação">
        <div class="signup_link">
          Lembrou sua senha? <a href="/login">Faça login</a>
        </div>
      </form>
    </div>
  </body>
</html>
