<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Everymind - Esqueci a Senha</title>
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="icon" href="everymind-removebg-preview.png" type="image/png">
  </head>
  
  <body>
    <div class="center">
      <h1>Esqueci a Senha</h1>
      <form method="post">
        <div class="txt_field">
          <input type="email" required placeholder="Seu e-mail">
        </div>
        <input type="submit" value="Enviar E-mail de Recuperação">
        <div class="signup_link">
          Lembrou sua senha? <a href="/login">Faça login</a>
        </div>
      </form>
    </div>
  </body>
</html>
