<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Everymind - Login</title>
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="icon" type="image/png" href="https://i.ibb.co/mR9Cyq3/Logo-Sem-Fundo.png" id="icon">

    <% if (erro) { %>
      <p class="erro"><%= erro %></p>
    <% } %>

  </head>
  <body>
    <div class="center">
      <h1>Login</h1>
      <form method="post">
        <div class="txt_field">
          <input name="email" type="text" required>
          <span></span>
          <label>E-mail</label>
        </div>
        <div class="txt_field">
          <input name="senha" type="password" required>
          <span></span>
          <label>Senha</label>
        </div>
        <div class="pass"><a href="/esqueceu-senha">Esqueceu a Senha?</a></div>
        <input type="submit" value="Login">
        <div class="signup_link">
          Ainda não tem cadastro? <a href="/cadastro">Cadastre-se</a>
        </div>
        <!-- Adicione o botão para voltar para a página inicial -->
        <div class="voltar"><a href="/pagina-inicial">Voltar para a Página Inicial</a></div>
        
      </form>
      
      <div id="alerta" class="alerta" style="display: none;">
        Credenciais inválidas. Por favor, verifique seu e-mail e senha.
      </div>
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const alerta = document.querySelector('#alerta');

        // Verifique se a URL contém um parâmetro de erro
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('erro')) {
          alerta.style.display = 'block'; // Exiba o alerta se houver um erro na URL
        }
      });
    </script>
  </body>
</html>
