<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Everymind - Candidato</title>
    <link rel="stylesheet" href="../styles/candidato.css">
    <link rel="icon" type="image/png" href="https://i.ibb.co/mR9Cyq3/Logo-Sem-Fundo.png" id="icon">

</head>

<body>

    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>
    
    <div id="menu">
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="menu-inner">
            <ul>
                <li><a href="/perfil">Perfil</a></li>
                <li><a href="/vagas-disponiveis">Vagas Disponíveis</a></li>
                <li><a href="/minhas-vagas">Minhas Vagas</a></li>
                <li><a href="/testes-candidato">Testes</a></li>
                <li><a href="/dashboard-candidato">Dashboard</a></li>
                <li><a href="/login">Sair</a></li>
            </ul>
        </div>
    </div>

    <div class="content">
        <div class="container">
            <h2>Meu perfil</h2>
            <h4>Nesta seção, você pode gerenciar e atualizar suas informações
                de perfil de usuário</h4>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {
            var menuExpanded = false;
            var hamburger = $('.hamburger');

            $('.hamburger, .menu-inner').on('mouseenter', function () {
                $(this).parent().addClass('expanded');
                menuExpanded = true;
            });

            $('.menu-inner').on('mouseleave', function () {
                menuExpanded = false;
                $(this).parent().removeClass('expanded');
            });

            function svgCurve() {
                if (menuExpanded) {

                } else {

                }

                window.requestAnimationFrame(svgCurve);
            }
        });
    </script>

</body>

</html>