@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #e2efe6;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden; /* Impede a barra de rolagem horizontal */
}

#menu {
    height: 100%;
    position: fixed;
    background-color: #00a7b6;
    width: 300px;
    transition: 1000ms all cubic-bezier(0.19, 1, 0.22, 1);
    transform: translateX(-100%);
    left: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#menu.expanded {
    transform: translateX(0%);
    left: 0px;
}

.menu-inner {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 25%;
}

#blob {
    top: 0;
    z-index: -1;
    right: 60px;
    transform: translateX(100%);
    height: 100%;
    position: absolute;
}

#blob-path {
    height: 100%;
    fill: #FED057;
}

.hamburger {
    right: 20px;
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 0 auto; /* Centraliza o ícone horizontalmente */
}

.hamburger .line {
    width: 100%;
    height: 4px;
    background-color: #fff;
    position: absolute;
}

.hamburger .line:nth-child(2) {
    top: 50%;
    margin-top: -2px;
}

.hamburger .line:nth-child(3) {
    bottom: 0;
}

h1 {
    
    right: 0;
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    z-index: 1; /* Corrige a sobreposição do menu */
}

ul li {
    color: #fff;
    padding: 20px 0;
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
    transition: background-color 0.3s;
}

ul li a {
    text-decoration: none;
    color: #fff;
}

ul li:hover {
    background-color: #7effbe;
}

h2 {

    left: 50%;
    color: #fff;
    margin: 0;
    font-size: 16px;
    font-weight: 100;
    text-align: center;
}



/* Ajustes para evitar conflitos de texto com o menu */
.container {
    text-align: center; /* Centraliza o conteúdo horizontalmente */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    margin: 0;
    font-size: 24px; /* Tamanho da fonte ajustado */
    
}

p {
    text-align: center; /* Centraliza o texto explicativo horizontalmente */
    margin-top: 10px; /* Espaço superior para separar do título */
}


  
